<h1>Detalle proyecto</h1>

<p><label>Nombre:</label> <%= @project.name %></p>
<p><label>País:</label> <%= @project.country %></p>
<p><label>Ciudad:</label> <%= @project.city %></p>
<p><label>Barrio:</label> <%= @project.neighborhood %></p>
<p><label>Dirección:</label> <%= @project.address %></p>
<p><label>Teléfono:</label> <%= @project.phone_number %></p>
<p><label>Descripción:</label> <%= @project.description %></p>
<p><label>Logo:</label> <%= @project.logo %></p>
<p><label>Estrato:</label> <%= @project.stratum %></p>
<p><label>Activo:</label> <%= @project.activated %></p>
<p><label>Dirección sala de ventas:</label> <%= @project.sales_room_address %></p>
<p><label>Teléfono sala de ventas:</label> <%= @project.sales_room_phone %></p>
<p><label>Email sala de ventas:</label> <%= @project.sales_room_email %></p>
<p><label>Fecha estimada de inicio:</label> <%= @project.estimated_start_date %></p>
<p><label>Fecha estimada de finalización:</label> <%= @project.estimated_end_date %></p>