<!DOCTYPE html>
<html>
  <head>
    <title>RealEstateManagerApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

    <%= stylesheet_link_tag '/stylesheets/application.css', media: 'all' %>
    <%= javascript_include_tag '/javascripts/application.js' %>
  </body>
</html>
